<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [2]:
#Exercise 1: Create a Jupyter Notebook

In [ ]:
#Exercise 2: Create markdown cell with title of the notebook

#Data Science Tools and Ecosystem

In [ ]:
#Exercise 3 - Create a markdown cell for an introduction

##In this notebook, Data Science Tools and Ecosystem are summarized.

##**Objectives:**
- List popular languages for Data Science
- List some Data Science libraries
- List some Data Science Tools
- Aritmetic expression examples

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages

##Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. MATLAB

In [3]:
#Exercise 5 - Create a markdown cell to list data science libraries

##Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. TensorFlow/PyTorch
6. Scikit-learn
7. Keras

In [ ]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools| 
|------------------| 
|Jupyter Notebook| 
|RStudio| 
|Apache Spark|

In [5]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

###Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [7]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

In [ ]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

##Author

Zafer Ali Serbes